@CHARSET "UTF-8";
#wst-slide .wst-slide-itemswrap,#wst-slide .wst-slide-items,#wst-slide .wst-slide-items li{height: 420px;overflow: hidden}

.wst-slide-controls {
	position: absolute;
	width: 200px;
	text-align: right;
	top: -40px;
	margin-left: 500px;
	text-align:center;
	
}
/*body{background: url('../img/banner.png') no-repeat;}*/
.wst-slide-controls span {
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	line-height: 24px;
	border-radius: 12px;
	background-color: #333333;
	color: white;
	cursor: pointer;
}

.wst-slide-controls .curr {background-color: #E13335;border-radius: 12px;color: white;cursor: pointer;}
.wst-slide{position: relative;width:1200px;margin:0 auto;}
.wst-slide-numbox{width: 1200px;margin:0 auto;height:0px;position: relative;z-index: 1;}
.wst-slide-items{min-width:1190px;border:5px #fff solid;width:1190px;}

/******** userInfo news *********/
#wst-right-news{
  width:100%;
  height:30px;
  background: #df2002;
  line-height: 30px;
  color:#ffffff;
}
#wst-right-news>p{
  float:left;
  margin-left:12px;
  font-weight: bold;
}
#wst-right-news>a{
  display: block;
  float:right;
  color:#ffffff;
  margin-right:5px;
}
#wst-right-new-list{
  height:134px;
  background-color:#ffffff;
}
#wst-right-new-list>li{
  width:210px;
  height:19.7px;
  padding-top:7px;
  padding-left:10px;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow: hidden;
}

#wst-right-new-list>li>a{
  color:#605e5e; 
}
#wst-right-new-list>li>a:hover{
  color:#df2002; 
}
.visitor-new-list{
  height:132px !important;
  overflow:hidden;
  border-bottom:1px solid #e5e5e5;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
  background-color:#ffffff;
}
.visitor-new-list>li{
  height:18px !important;
}
#wst-right-ads>a>img{
  width:210px;
  height:128px;
  display: block;
}
.floor-box{
	width:100%;
	height: 480px;
	clear:both;
	position: relative;
}
.goods-list{width:100%;}
.goods-list .goods{
	width:239px;
	float:left;
	height:284px;
	border-right:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}

.goods-list .goods:hover{
	width:238px;
	height:284px;
	border-right:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	-webkit-box-shadow:0 0 10px #cfcfcf;  
	-moz-box-shadow:0 0 10px #cfcfcf;  
	box-shadow:0 0 10px #cfcfcf;  
}


.goods-list .goods .img{text-align:center;position:relative;}
.goods-list .goods .img  a{display:block;} 
.goods-list .goods .img a img{max-width:180px;max-height:180px;padding-top:20px;padding-bottom:8px;} 
.goods-list .goods .p-price{font-weight: 600;color:#C00;text-align:center;margin-top:3px;font-size: 14px;}
.goods-list .goods .p-name{height: 40px;line-height: 20px;overflow: hidden;width:208px; margin:0 auto;text-align:center;}
.goods-list .goods .p-shop{padding:5px;}

.goods-list .goods .p-mprice{color:#999;padding:5px 0px 5px 5px;width:120px;float:left;}
.goods-list .goods .p-mprice span{text-decoration: line-through;margin-left: 10px;font-weight: normal;}
.goods-list .goods .p-appraise{padding:5px 5px 5px 0;width:100px;float:right;text-align: right;}
.goods-list .goods .p-appraise span{font-weight: bold;color:#1499E5;}
.floor-top-ads{
	margin:40px 0 0px;
	width:1200px;
}
.floor-top-ads a{
	float:left;
}
.floor-top-ads img{
	width:400px;
	height:110px;
}
.floor-header{
	width:100%;
	height:80px;
	background: #fafafa;
	
}

.floor-header-f1,.floor-header-f2,.floor-header-f3,.floor-header-f4,.floor-header-f5,.floor-header-f6,.floor-header-f7,.floor-header-f8,.floor-header-f9,.floor-header-f10{
	float:left;
	height:100%;
	width: 23%;
	margin-top:1px;
}

.floor-header .tab{
	float:right;
	margin-right:10px;
	margin-top:7px;
}
.floor-header .tab li{
	display:block;
	margin:0px;
	float:left;

}
.floor-header .tab a{
	font-size:13px;
	display: block;
	height:15px;
	letter-spacing:1px;
}

/*楼层Tab选项卡*/
.floor-header .tab-item1 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected1 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item2 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected2 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item3 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected3 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item4 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected4 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item5 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected5 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item6 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected6 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item7 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected7 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item8 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected8 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item9 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected9 a{background-color: #df2002;color:#ffffff;}

.floor-header .tab-item10 a{padding:8px 12px 8px 12px;}
.floor-header .j-tab-selected10 a{background-color: #df2002;color:#ffffff;}




.floor-left{
	float:left;
	width:20%;
	height:620px;
}

.floor-left-ads{
	width:478px;
	height:224px;
}
.floor-left-ads img{
	width:478px;
	height:224px;
}

.floor-left-title{
	height:0;
}
.floor-right-title{
	color: #333333;
	font-size: 16px;
	line-height:30px;
	font-weight: bold;
	letter-spacing:2px;
	padding-left:10px;
}


.floor-right{
	float:left;
	width:100%;
	min-height:570px;
}
.floor-right-ads{
	width:400px;
	height: 328px;
	float:left;border:1px solid #eeeeee;
}
.wst-floor-slide-items{
	overflow: hidden;
	height: 400px;
	width:328px;
	position:relative;
	
}
.wst-floor-slide-items img{
	height: 344px;
	width:478px;
}


           /*首页详情开始*/

			
			.pic-words {
				width: 160px;
				height: 80px;
				background: #ececce;
			}
			
			.left-big-pic {
				width: 282px;
				height: 400px;
				border: 1px solid #EEEEEE;
				position: absolute;
				box-sizing: border-box;
				left: 0;
				top: 80px;
				background: #fff;
			}
			
			.left-big-pic .left-big-pic-img{
				width: 266px;
				height:266px;
				margin:8px;
			}
			.left-big-pic .left-big-name{
				width:266px;
				height:108px;
				margin:0px 8px 0px 8px;
			}

			.left-big-pic .left-big-name .jx-price{
				color:#e60b49;
				width:266px;
			}
			.left-big-pic .left-big-name .jx-price .jx{
				width:40px;
				height:20px;
				text-align: center;
				border:1px #e60b49 dashed;
				display: inline-block;
			}
			.left-big-pic .left-big-name .jx-price .price{
				font-size: 16px;
			}
			.left-big-pic .left-big-name .yj-price{
				color:#ababab;
				font-size: 12px;
			}
			.left-big-pic .left-big-name dt{

				height:60px;
				text-indent: 2px;
				font-size: 12px;

			}
			.left-big-pic .left-big-name dd{
				height:40px;
				width:50px;
				display: inline;
			}
			.right-small-pics {
				width: 912px;
				height: 400px;
				position: absolute;
				top: 80px;
				right:0px;
			}
			
			.right-small-pics .right-big-one {
				float: left;
				border: 1px solid #EEEEEE;
				margin: 0px 0px 10px 7px;
				box-sizing: border-box;
				background: #fff;
			}
			
			.right-big-one {
				width: 295px;
				height: 193px;
				position: relative;
			}
			.right-big-one .top{
				position:absolute;
				height:1px;
				width:0px;
				z-index: 1;
				top:0px;
				
			}

			.right-big-one .left{
				position:absolute;
				height:0px;
				width:1px;
				z-index: 1;
				left:0px;
				
			}
			.right-big-one .bottom{
				position:absolute;
				height:1px;
				width:0px;
				z-index: 1;
				bottom:0px;
				right: 0px;
				
			}
			.right-big-one .right{
				position:absolute;
				height:0px;
				width:1px;
				z-index: 1;
				right:0px;
				bottom: 0px;
				
			}

			.right-big-one img{
				width:178px;
				height: 178px;
				margin:7px 0px 7px 4px;
			}

			.right-big-one .right-small-name{
				margin:0px 4px 0px 4px;
				width:100px;
				height:191px;
				float: right;
				font-size: 12px;
				font-weight: 300;
				word-wrap:break-word; 
			}
			.right-big-one .right-small-name dt{
				height:110px;
				padding-top:12px;
				
			}
			.right-big-one .right-small-name dd{
				height:68px;
				
			}
			.right-big-one .right-small-name dd .yj-price{
				color:#ababab;
				height:20px;
				font-size: 12px;
			}
			.right-big-one .right-small-name dd .jx{
				height: 20px;
				width:40px;
				border:1px #e60b49 dashed;
				color:#e60b49;
				text-align: center;
			}
			.right-big-one .right-small-name dd .jx-price{
				height:20px;
				color:#e60b49;
				margin: 4px 0px 2px 0px;

			}
			.right-big-one .right-small-name dd .jx-price .colour{
				color:#e60b49;
			}
			.right-big-one .right-small-name dd .jx-price .price{
				color:#e60b49;
				font-size: 16px;
				font-weight: 400;
			}
	
			.right-small-one {
				width: 283px;
				height: 195px;
			}
			
			.right-big-one:hover{
				box-shadow:0px 0px  #ccc;
			}
			.top-margin {
				margin-top: 8px;
			}

.buy-new-best-hot{
	width:912px;
	margin-top:30px;
	position: relative;
}
/*新加的抢购*/

.second-buy{
	position: absolute;
	width:270px;
	height: 275px;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	right: -290px;
	bottom: 10px;
	}
.second-buy a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}	
.second-buy-time{
	width: 129px;
	height: 38px;
	position: absolute;
	left: 70px;
	bottom: 20px;
	font-size: 18px;
    font-weight: bold;
    color: #E60B49;
    line-height: 38px;
    z-index: 9;
}
.second-buy-time span{
	margin: 0;
	padding: 0;
	display: inline-block;
	width:38px;
	height: 38px;
	box-sizing: border-box;
	border: 1px solid #E60B49;
	text-align: center;
	
}
.rec{
	width:100%;
	height:50px;
	border-bottom:5px solid #333333;
}
.rec li{
	width:304px;
	float:left;
	line-height:45px;
	text-align: center;
	position:relative;
}


.rec a{
	color:#222222;;
}
.rec li a{
	text-align: center;
	font-size:14px;
}
.j-rec-selected{
	height:45px;
	background: white;
}
.j-rec-selected>em{
    display:block; 
    width:100%; 
    height:5px; 
    background-color:#E60B49;

    position:absolute; 
    top:50px; 
    left:0px;
}

.j-rec-selected>em > em {
	width: 0px;
	height: 0px;
	border: 4px solid;
	border-color: #FFFFFF;
	border-bottom-color: #E60B49;
	position: absolute;
	left: 150px;
	bottom: 5px;
	border-top: none;
}
.j-rec-selected>a{
	color:#D93600;
	font-weight:bold;
}
.rec-goods-list{
	width:100%;
	overflow:hidden;
}
.rec-goods-list li{
	
	width:220px;
	height: 260px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	position:relative;
	border: 1px solid #eee;
	box-sizing: border-box;
}

.rec-goods-list li:nth-child(1){
	margin-left: 0;
}
.rec-goods-list li:nth-child(5){
	display: none;
}
.rec-goods-list li:hover{
	border: 1px solid #ccc;
	box-shadow: 0px 0px  10px #ccc;
}


.rec-goods-list img{
	display:block;
	width:176px;
	height:176px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
}

.countdown{
	position: absolute;
	top:202px;
	background: #FF6A53 ;
	opacity: 0.8;
	height:30px;
	width:216px;
}
.countdown p{
	float: left;
	line-height:30px;
	color:white;
	font-size:16px;
}
.clockIcon{
	width:30px;
	height:30px;
	float:left;
	background: url(../img/icon_time.png) no-repeat 5px 7px;
}




.rec-goods-price{
	text-align:center;
}
.rec-goods-price>span{
	font-weight:bold;
	font-size: 15px;
	color:#DF2003;
}
.rec-goods-desc{
	width:206px;
	margin:0 auto;
	height:35px;
	line-height: 18px;
	text-align:center;
	margin-top:20px;
	margin-bottom:5px;
	overflow: hidden;
}



/*从这里开始*/

/*屏幕左侧导航*/
#screen-left-nav{
	width:42px; 
	height: 403px;
	position:fixed;
	top:35%;
	z-index: 999;
    display: block;
    background: #fff;
    border:1px #333 solid;
    border-radius:3px;
}
#screen-left-nav ul{
	display: block;
	width: 100%;
	height: 100%;
}
#screen-left-nav ul li{
	display: block;
	width:34px;
	padding: 0;
	height:36px;
	border-radius: 2px;
    position: relative;
	text-align: center;
/*	line-height: 38px;*/
	margin: 0 4px 0 4px;
	cursor: pointer;
	margin-top: 4px;
}


#screen-left-nav ul li img{
	margin: 0 auto;
	padding-top: 9px;
	width: 20px;
	height:20px;
	
}
#screen-left-nav ul li span{
	color: #fff;    
	width: 28px;
    display: inline-block;
   	margin-top: 3px;
    line-height: 15px;
}
.screen-left-nav-line{
	width: 34px;
	height: 1px;
	background: #444;
	position: absolute;
	bottom: 0;
	
	}
/*到这里结束*/

.lcurr{
	background:#DF2003;
}
.lcurr a{
	color:white;
}

.wst-floor-slide-numbox span{
	background-color: #d4d4d4;
    cursor: pointer;
    display:inline-block;
    height: 4px;
	width:24px;
	border-radius: 1.5px;
}

.wst-floor-slide-numbox .curr{
	background-color: #f68d8d;
}
.wst-floor-slide-numbox>div{
	position:relative;
	left:43%;
	top:-20px;
	z-index:99;
	height:10px;
	max-width: 300px;
}

.floor-bottom .bx_container{
	margin-top:15px;
}
.floor-right-ads .wst-floor-slide-1{height:344px;}

.ads-lunbobottom{
	margin-top:30px;
	margin-bottom:20px;
	overflow:hidden;
}
.ads-lunbobottom a{
	float:left;
}
.ads-lunbobottom a img{
	width:240px;
	height:320px;
}